   .button {
    background: #3498db;
    width: 180px;
    padding: 4px 0;
    position: absolute;
    border-radius: 3px;
  }
  .button p {
    font-family: 'Roboto';
    text-align: center;
    text-transform: uppercase;
    color: #FFF;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .button:hover {
    cursor: pointer;
  }
  .button:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 10%;
    border-radius: 50%;
    background-color: #927608;
    opacity: 0.4;
    bottom: -30px;
  }


   /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

       #map {
        height: 100%;
    }

    /* Optional: Makes the sample page fill the window. */

    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    #dismissAlarmButton {
        margin-left: auto;
        margin-right: auto;

    }

    select {
        margin: 50px;
        width: 150px;
        padding: 5px 35px 5px 5px;
        font-size: 16px;
        border: 1px solid #ccc;
        height: 34px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: url(https://image.flaticon.com/icons/png/128/92/92386.png) 96% / 15% no-repeat #eee;

    }