button {
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 15px 45px;
    font-size: 12px;
    font-family: "Bitter", serif;
    line-height: 1.8;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
}

button:focus {
    outline: none
}

.press button {
    color: #fff;
    background-color: #6496c8;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px #27496d;
}

@media (max-width: 650px) {
    .button {   
        display: block;
    }
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
    height: 100%;
    border-radius: 60px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #424242;
    font-family: 'Lato', sans-serif;
}

#selectModule {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://image.flaticon.com/icons/png/128/92/92386.png) 96% / 15% no-repeat #eee;
}

#selectElement {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#setupForm {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

#buttons {
    width: fit-content;
    margin-top: 10px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

#dismissAlarmButton {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}

#resetAlarmButton {
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}

#resetAlarmButton,
#dismissAlarmButton {
    display: inline;
    /**other codes**/
}

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
    margin-bottom:30px;
}

/* The slider itself */

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 1;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

/* Mouse-over effects */

.slider:hover {
    opacity: 1;
    /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
    border-radius: 30px;
}

.slider::-moz-range-thumb {
    width: 25px;
    /* Set a specific slider handle width */
    height: 25px;
    /* Slider handle height */
    background: #4CAF50;
    /* Green background */
    cursor: pointer;
    /* Cursor on hover */
}

p{
    font-family: 'Lato', sans-serif;
}

.button{
    font-family: 'Lato', sans-serif;
    letter-spacing: .3rem;
}