html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #424242;
    font-family: 'Lato', sans-serif;
}

#logoImage{
    max-width:700px;
    width:60vw;
    height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#completeOnboarding{
    /*padding: 20px; */
    background-color:#ffffff;
    text-decoration: none;
    margin-left:auto;
    margin-right:auto;
    width: 100vw;
    font-family: 'Lato', sans-serif;
    letter-spacing: .3rem;
    color:#d01807;
    padding-top: 20px;
    padding-bottom: 20px;
}   

a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: .3rem;
}

#headerDiv{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    /* margin-top: 15px; */
    margin-bottom: 30px;
}

#headerTextContainer{
    margin-left:auto;
    margin-right:auto;
    width: fit-content;
}

#headerText{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    letter-spacing: .3rem;
    
}

#QuickStartGuideHeader{
    margin-left:auto;
    margin-right:auto;
    width: fit-content;
    
}

#guideDiv{

    max-width:740px;
    width:80vw;
    margin-left:auto;
    margin-right:auto;
    /*background-color:#ffffff;*/
    margin-bottom:20px;
}

.quickStartImg{
    max-width:300px;
    width:40vw;
    margin-left:auto;
    margin-right:auto;
    display: block;
}

#principlesText{
    padding:10px;
    color:#ffffff;
}